In [57]:
# Import necessary libraries
import sys
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Add the path where telecom_analysis.py is located
sys.path.append(os.path.abspath('../scripts'))

# Import functions from telecom_analysis.py
from data_preprocessing import (
    load_data,
    data_overview,
)

In [58]:
creditcard_file_path = '../data/creditcard.csv'
fraud_data_file_path = '../data/Fraud_Data.csv'
ipaddress_to_country_file_path = '../data/IpAddress_to_Country.csv'

# Load the CSV files into DataFrames
creditcard_df = pd.read_csv(creditcard_file_path)
fraud_data_df = pd.read_csv(fraud_data_file_path)
ipaddress_to_country_df = pd.read_csv(ipaddress_to_country_file_path)

In [ ]:
creditcard_df.head(4)

In [ ]:
fraud_data_df.head(4)

In [ ]:
ipaddress_to_country_df.head(4)

In [59]:
# Check for missing values in each dataset
print("Missing values in Credit Card data:\n", creditcard_df.isnull().sum())
print("Missing values in Fraud Data:\n", fraud_data_df.isnull().sum())
print("Missing values in IP Address to Country Data:\n", ipaddress_to_country_df.isnull().sum())

Missing values in Credit Card data:
 Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64
Missing values in Fraud Data:
 user_id           0
signup_time       0
purchase_time     0
purchase_value    0
device_id         0
source            0
browser           0
sex               0
age               0
ip_address        0
class             0
dtype: int64
Missing values in IP Address to Country Data:
 lower_bound_ip_address    0
upper_bound_ip_address    0
country                   0
dtype: int64

In [60]:
# For this example, we will drop rows with missing values (you can use imputation if needed)
creditcard_df.dropna(inplace=True)
fraud_data_df.dropna(inplace=True)
ipaddress_to_country_df.dropna(inplace=True)

# 2. Data Cleaning
# Remove duplicates in each dataset
creditcard_df.drop_duplicates(inplace=True)
fraud_data_df.drop_duplicates(inplace=True)
ipaddress_to_country_df.drop_duplicates(inplace=True)

In [61]:
# Convert data types where appropriate
# For Fraud Data: Convert 'signup_time' and 'purchase_time' to datetime format
fraud_data_df['signup_time'] = pd.to_datetime(fraud_data_df['signup_time'])
fraud_data_df['purchase_time'] = pd.to_datetime(fraud_data_df['purchase_time'])

In [ ]:
print("Data types in Fraud Data:\n", fraud_data_df.dtypes)

In [ ]:


# 3. Exploratory Data Analysis (EDA)

# --- Credit Card Dataset EDA ---
# Univariate Analysis - Distribution of transaction amounts
plt.figure(figsize=(10,6))
sns.histplot(creditcard_df['Amount'], bins=50, kde=True)
plt.title('Distribution of Transaction Amounts (Credit Card Data)')
plt.show()

# Univariate Analysis - Count of fraudulent vs non-fraudulent transactions
plt.figure(figsize=(6,4))
sns.countplot(x='Class', data=creditcard_df)
plt.title('Fraudulent vs Non-Fraudulent Transactions (Credit Card Data)')
plt.show()

# --- Fraud Data EDA ---
# Univariate Analysis - Distribution of purchase values
plt.figure(figsize=(10,6))
sns.histplot(fraud_data_df['purchase_value'], bins=50, kde=True)
plt.title('Distribution of Purchase Values (Fraud Data)')
plt.show()

# Univariate Analysis - Distribution of age
plt.figure(figsize=(10,6))
sns.histplot(fraud_data_df['age'], bins=30, kde=True)
plt.title('Distribution of Age (Fraud Data)')
plt.show()

In [ ]:
# Bivariate Analysis - Correlation between numeric features in Credit Card Data
plt.figure(figsize=(12,8))
corr_matrix = creditcard_df.corr()
sns.heatmap(corr_matrix, annot=False, cmap='coolwarm', linewidths=0.5)
plt.title('Correlation Heatmap (Credit Card Data)')
plt.show()

# Bivariate Analysis - Fraud occurrence by gender in Fraud Data
plt.figure(figsize=(6,4))
sns.countplot(x='sex', hue='class', data=fraud_data_df)
plt.title('Fraud Occurrence by Gender (Fraud Data)')
plt.show()

# Time difference between signup and purchase
fraud_data_df['time_diff'] = (fraud_data_df['purchase_time'] - fraud_data_df['signup_time']).dt.total_seconds() / 3600
plt.figure(figsize=(10,6))
sns.histplot(fraud_data_df['time_diff'], bins=50, kde=True)
plt.title('Distribution of Time Difference between Signup and Purchase (Fraud Data)')
plt.show()

# --- IP Address to Country Dataset EDA ---
# Check distribution of countries
plt.figure(figsize=(12,6))
top_countries = ipaddress_to_country_df['country'].value_counts().head(10)
sns.barplot(x=top_countries.index, y=top_countries.values)
plt.title('Top 10 Countries in IP Address Range')
plt.xticks(rotation=45)
plt.show()

In [ ]:
# import pandas as pd


# def int_to_ip(ip_int):
#     """
#     Converts an integer IP address back to the dot-decimal format (e.g., '192.168.0.1').
#     """
#     # Ensure ip_int is an integer
#     if not isinstance(ip_int, int):
#         raise ValueError(f"Expected an integer, got {type(ip_int).__name__}")

#     return '.'.join([str((ip_int >> (i * 8)) & 0xFF) for i in range(3, -1, -1)])

# # Ensure the columns are treated as integers
# ipaddress_to_country_df['lower_bound_ip_address'] = ipaddress_to_country_df['lower_bound_ip_address'].fillna(0).astype(int)
# ipaddress_to_country_df['upper_bound_ip_address'] = ipaddress_to_country_df['upper_bound_ip_address'].fillna(0).astype(int)

# # Convert the integer IP addresses to dot-decimal format and overwrite the original columns
# ipaddress_to_country_df['lower_bound_ip_address'] = ipaddress_to_country_df['lower_bound_ip_address'].apply(int_to_ip)
# ipaddress_to_country_df['upper_bound_ip_address'] = ipaddress_to_country_df['upper_bound_ip_address'].apply(int_to_ip)

# # Inspect the result
# print(ipaddress_to_country_df)

In [ ]:
# import pandas as pd

# # Function to convert IP address from dot-decimal format to integer format
# def ip_to_int(ip_str):
#     """
#     Converts a dot-decimal IP address (e.g., '192.168.0.1') to its integer equivalent.
#     """
#     octets = ip_str.split('.')
#     return (int(octets[0]) << 24) + (int(octets[1]) << 16) + (int(octets[2]) << 8) + int(octets[3])

# # Step 1: Convert IP addresses to integer format (overwrite the existing columns)
# fraud_data_df['ip_address'] = fraud_data_df['ip_address'].apply(ip_to_int)
# ipaddress_to_country_df['lower_bound_ip_address'] = ipaddress_to_country_df['lower_bound_ip_address'].apply(ip_to_int)
# ipaddress_to_country_df['upper_bound_ip_address'] = ipaddress_to_country_df['upper_bound_ip_address'].apply(ip_to_int)

# # Step 2: Perform a full outer merge (to include all rows from both datasets)
# merged_df = pd.merge(
#     fraud_data_df,  # The fraud data with converted integer IPs
#     ipaddress_to_country_df,  # The IP-to-country mapping
#     left_on='ip_address',  # Merge on IP address in fraud data
#     right_on='lower_bound_ip_address',  # Use the lower bound for simplicity
#     how='outer',  # Full outer join to include all rows from both datasets
#     suffixes=('', '_country')  # Avoid column name collisions
# )

# # Step 3: Inspect the result
# print(merged_df.head())

In [62]:
import pandas as pd

# Function to convert an integer to a dot-decimal IP format
def int_to_ip(ip_int):
    """
    Converts an integer IP address back to the dot-decimal format (e.g., '192.168.0.1').
    """
    # Ensure ip_int is an integer
    if not isinstance(ip_int, int):
        raise ValueError(f"Expected an integer, got {type(ip_int).__name__}")

    return '.'.join([str((ip_int >> (i * 8)) & 0xFF) for i in range(3, -1, -1)])


# Step 1: Ensure the IP address columns in both DataFrames are treated as integers
fraud_data_df['ip_address'] = fraud_data_df['ip_address'].fillna(0).astype(int)
ipaddress_to_country_df['lower_bound_ip_address'] = ipaddress_to_country_df['lower_bound_ip_address'].fillna(0).astype(int)
ipaddress_to_country_df['upper_bound_ip_address'] = ipaddress_to_country_df['upper_bound_ip_address'].fillna(0).astype(int)

# Step 2: Convert the integer IP addresses to dot-decimal format (overwrite the columns)
ipaddress_to_country_df['lower_bound_ip_address'] = ipaddress_to_country_df['lower_bound_ip_address'].apply(int_to_ip)
ipaddress_to_country_df['upper_bound_ip_address'] = ipaddress_to_country_df['upper_bound_ip_address'].apply(int_to_ip)
fraud_data_df['ip_address'] = fraud_data_df['ip_address'].apply(int_to_ip)

# Step 3: Inspect the results
print("Fraud Data (with dot-decimal IPs):")
print(fraud_data_df[['user_id', 'ip_address']].head())  # Show the fraud data IPs
print("\nIP Address to Country Data:")
print(ipaddress_to_country_df.head())  # Show the converted IP address ranges

Fraud Data (with dot-decimal IPs):
   user_id     ip_address
0    22058    43.173.1.96
1   333320  20.225.83.219
2     1359  156.64.132.28
3   150084  228.234.6.235
4   221365  24.197.75.141

IP Address to Country Data:
  lower_bound_ip_address upper_bound_ip_address    country
0                1.0.0.0              1.0.0.255  Australia
1                1.0.1.0              1.0.1.255      China
2                1.0.2.0              1.0.3.255      China
3                1.0.4.0              1.0.7.255  Australia
4                1.0.8.0             1.0.15.255      China

In [63]:
import pandas as pd

# Function to convert IP address from dot-decimal format to integer format
def ip_to_int(ip_str):
    """
    Converts a dot-decimal IP address (e.g., '192.168.0.1') to its integer equivalent.
    """
    octets = ip_str.split('.')
    return (int(octets[0]) << 24) + (int(octets[1]) << 16) + (int(octets[2]) << 8) + int(octets[3])

# Step 1: Convert IP addresses to integer format (overwrite the existing columns)
fraud_data_df['ip_address'] = fraud_data_df['ip_address'].apply(ip_to_int)
ipaddress_to_country_df['lower_bound_ip_address'] = ipaddress_to_country_df['lower_bound_ip_address'].apply(ip_to_int)
ipaddress_to_country_df['upper_bound_ip_address'] = ipaddress_to_country_df['upper_bound_ip_address'].apply(ip_to_int)

# Step 2: Simple merge on the IP address (this step assumes a direct column match or range comparison logic)
merged_df = pd.merge(
    fraud_data_df,  # The fraud data with converted integer IPs
    ipaddress_to_country_df,  # The IP-to-country mapping
    left_on='ip_address',  # Merge on IP address in fraud data
    right_on='lower_bound_ip_address',  # Use the lower bound for simplicity (could also extend to ranges)
    suffixes=('', '_country')  # Avoid column name collisions
)

# Step 3: Inspect the result
print(merged_df.head())

   user_id         signup_time       purchase_time  purchase_value  \
0    99475 2015-01-15 22:52:56 2015-03-21 05:26:58              55
1    39268 2015-05-09 17:42:56 2015-06-04 05:13:18              36
2    92325 2015-01-16 19:47:30 2015-05-03 17:19:26              27
3   390559 2015-07-09 06:36:13 2015-09-22 04:07:00              51
4   383733 2015-04-09 12:13:47 2015-07-22 23:48:13              42

       device_id  source browser sex  age  ip_address  class  \
0  KKQVQFEISXTQI     Ads      IE   M   25  3436291840      0
1  LVTPXQBECONJX     SEO      IE   F   27  3256946176      0
2  IYIBXBGTIDAUY  Direct  Chrome   M   30  3495475200      0
3  SKNQFVNNGMSXY     Ads  Safari   M   24  1613234176      0
4  PFHACSCWDLWUA     SEO  Chrome   F   45  3469070080      0

   lower_bound_ip_address  upper_bound_ip_address        country
0              3436291840              3436292095         Canada
1              3256946176              3256946431        Romania
2              3495475200              3495477247         Canada
3              1613234176              1613365247  United States
4              3469070080              3469070335  United States

In [66]:
merged_df.head()

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class,lower_bound_ip_address,upper_bound_ip_address,country
0,99475,2015-01-15 22:52:56,2015-03-21 05:26:58,55,KKQVQFEISXTQI,Ads,IE,M,25,3436291840,0,3436291840,3436292095,Canada
1,39268,2015-05-09 17:42:56,2015-06-04 05:13:18,36,LVTPXQBECONJX,SEO,IE,F,27,3256946176,0,3256946176,3256946431,Romania
2,92325,2015-01-16 19:47:30,2015-05-03 17:19:26,27,IYIBXBGTIDAUY,Direct,Chrome,M,30,3495475200,0,3495475200,3495477247,Canada
3,390559,2015-07-09 06:36:13,2015-09-22 04:07:00,51,SKNQFVNNGMSXY,Ads,Safari,M,24,1613234176,0,1613234176,1613365247,United States
4,383733,2015-04-09 12:13:47,2015-07-22 23:48:13,42,PFHACSCWDLWUA,SEO,Chrome,F,45,3469070080,0,3469070080,3469070335,United States

In [68]:
# Step 3: Feature Engineering

# 3.1 Transaction frequency and velocity for each user
# Sort by `user_id` and `purchase_time`
merged_df = merged_df.sort_values(by=['user_id', 'purchase_time'])

# Transaction frequency: count of purchases per user
merged_df['transaction_count'] = merged_df.groupby('user_id')['purchase_time'].transform('count')

# Calculate time difference between consecutive transactions per user
merged_df['time_diff'] = merged_df.groupby('user_id')['purchase_time'].diff().dt.total_seconds()  # In seconds
merged_df['avg_transaction_velocity'] = merged_df.groupby('user_id')['time_diff'].transform('mean')

# 3.2 Time-based features (hour of day, day of week from purchase_time)
merged_df['hour_of_day'] = merged_df['purchase_time'].dt.hour  # Hour of the day when purchase was made
merged_df['day_of_week'] = merged_df['purchase_time'].dt.dayofweek  # Day of the week (0=Monday, 6=Sunday)

In [69]:
from sklearn.preprocessing import MinMaxScaler

# Step 4: Normalization and Scaling
# We will normalize the `purchase_value` using MinMaxScaler
scaler = MinMaxScaler()

# Fit and transform the purchase_value
merged_df['purchase_value_scaled'] = scaler.fit_transform(merged_df[['purchase_value']])

# Step 5: Inspect the result
print(merged_df.head())

   user_id         signup_time       purchase_time  purchase_value  \
5    13614 2015-03-29 02:20:38 2015-04-22 14:39:51              24
7    34805 2015-08-03 22:17:24 2015-10-27 13:56:57              19
1    39268 2015-05-09 17:42:56 2015-06-04 05:13:18              36
2    92325 2015-01-16 19:47:30 2015-05-03 17:19:26              27
0    99475 2015-01-15 22:52:56 2015-03-21 05:26:58              55

       device_id  source browser sex  age  ip_address  ...  \
5  KDUAFKYHHTXXM  Direct      IE   F   18  3342560256  ...
7  JOLAPJZFYHWRB     Ads      IE   F   35  1648361472  ...
1  LVTPXQBECONJX     SEO      IE   F   27  3256946176  ...
2  IYIBXBGTIDAUY  Direct  Chrome   M   30  3495475200  ...
0  KKQVQFEISXTQI     Ads      IE   M   25  3436291840  ...

   user_transaction_count  device_transaction_count  time_diff_hours  \
5                       1                         1       588.320278
7                       1                         1      2031.659167
1                       1                         1       611.506111
2                       1                         1      2565.532222
0                       1                         1      1542.567222

  hour_of_day  day_of_week  unique_users_per_device  transaction_count  \
5          14            2                        1                  1
7          13            1                        1                  1
1           5            3                        1                  1
2          17            6                        1                  1
0           5            5                        1                  1

   time_diff  avg_transaction_velocity  purchase_value_scaled
5        NaN                       NaN               0.121951
7        NaN                       NaN               0.000000
1        NaN                       NaN               0.414634
2        NaN                       NaN               0.195122
0        NaN                       NaN               0.878049

[5 rows x 24 columns]

In [71]:
merged_df.head(20)

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,...,user_transaction_count,device_transaction_count,time_diff_hours,hour_of_day,day_of_week,unique_users_per_device,transaction_count,time_diff,avg_transaction_velocity,purchase_value_scaled
5,13614,2015-03-29 02:20:38,2015-04-22 14:39:51,24,KDUAFKYHHTXXM,Direct,IE,F,18,3342560256,...,1,1,588.320278,14,2,1,1,NaN,NaN,0.121951
7,34805,2015-08-03 22:17:24,2015-10-27 13:56:57,19,JOLAPJZFYHWRB,Ads,IE,F,35,1648361472,...,1,1,2031.659167,13,1,1,1,NaN,NaN,0.000000
1,39268,2015-05-09 17:42:56,2015-06-04 05:13:18,36,LVTPXQBECONJX,SEO,IE,F,27,3256946176,...,1,1,611.506111,5,3,1,1,NaN,NaN,0.414634
2,92325,2015-01-16 19:47:30,2015-05-03 17:19:26,27,IYIBXBGTIDAUY,Direct,Chrome,M,30,3495475200,...,1,1,2565.532222,17,6,1,1,NaN,NaN,0.195122
0,99475,2015-01-15 22:52:56,2015-03-21 05:26:58,55,KKQVQFEISXTQI,Ads,IE,M,25,3436291840,...,1,1,1542.567222,5,5,1,1,NaN,NaN,0.878049
6,112145,2015-06-11 06:32:08,2015-09-12 00:14:40,60,ELGLONSOXGUFE,Ads,Chrome,F,40,1729472512,...,1,1,2225.708889,0,5,1,1,NaN,NaN,1.000000
4,383733,2015-04-09 12:13:47,2015-07-22 23:48:13,42,PFHACSCWDLWUA,SEO,Chrome,F,45,3469070080,...,1,1,2507.573889,23,2,1,1,NaN,NaN,0.560976
8,385983,2015-06-09 13:11:01,2015-08-01 11:13:26,22,AJQVCUQHKFLRH,SEO,Safari,M,36,3345295360,...,1,1,1270.040278,11,5,1,1,NaN,NaN,0.073171
3,390559,2015-07-09 06:36:13,2015-09-22 04:07:00,51,SKNQFVNNGMSXY,Ads,Safari,M,24,1613234176,...,1,1,1797.513056,4,1,1,1,NaN,NaN,0.780488